ocatari==2.0.0
numpy==1.24.3
gymnasium[atari, accept-rom-license] == 0.28.1
torch
imageio
joblib
scikit-learn
matplotlib
opencv_python
joblib
tensorboard
tqdm
rich
pandas
hackatari
imageio==2.35.1
imageio-ffmpeg
stable_baselines3[extras]==2.0.0
pyyaml
colormath
